{% extends "base.html" %}

{% block main %}
    <div class="title">
        Registration
    </div>
    <div class="login">
        <form action="" method="POST">
        
            <div class="imgcontainer">
                <img src="{{ url_for('static', filename='css/login.png') }}" alt="login" class="avatar">
            </div>
            <p>
                <label for="firstname">First name</label>
                <input type="text" name="firstname" placeholder="Enter First name" value="{{request.form.firstname}}">
            </p>
            <p>
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" placeholder="Enter Last name" value="{{request.form.lastname}}">
            </p>
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username" value="{{request.form.username}}">
            </p>
            <p>
                <label for="usertype">User type</label>
                <input type="text" name="usertype" placeholder="Enter User type" value="{{request.form.usertype}}">
            </p>
            <p>
                <label for="useraddress">User address</label>
                <input type="text" name="useraddress" placeholder="Enter User address" value="{{request.form.useraddress}}">
            </p>
            <p>
                <label for="useremail">User email</label>
                <input type="text" name="useremail" placeholder="Enter User email" value="{{request.form.useremail}}">
            </p>
            <p>
                <label for="telephone">Telephone</label>
                <input type="text" name="telephone" placeholder="Enter telephone number" value="{{request.form.telephone}}">
            </p>

            <p>
                <input type="submit" value="adduser">
            </p>
        </form>
    </div>    

{% endblock %}