% extends "base.html" %}

{% block main %}
<h1 class="title">Booking</h1>


<form class="login">
    <h1 class="title">New Booking</h1>
    <p>
      <input type="text" id="name" placeholder="Name">
    </p>
    <p>
      
      <input type="number" id="attendee" placeholder="Attendees">
    </p>
    
    <p>
      <select id="status">
        <option value="0">March 18,2021</option>
        <option value="1">March 19,2021</option>
      </select>
    </p>
    <p>
      <select id="status">
        <option value="0">9:00 am</option>
        <option value="1">10:00 am</option>
        <option value="2">11:00 am</option>
        <option value="3">12:00 am</option>
      </select>
    </p>
    

    <p>
      <select id="status">
        <option value="0">Football Field</option>
        <option value="1">Swimming Pool</option>
    </select>
    </p>
    <button class="btn btn-primary">Place Booking</button>
</form> 
{% endblock %}