{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}

<h1 class="section-title">Booking</h1>
<div class="events-container"></div>
</section>
<section id="add-event">
<h1 class="section-title">New {{facilityName}} Booking for {{g.user.firstname}}</h1>
<form class="form" action="" method="POST" >

    <label for="r1choice">Resource 1 Booking</label>
    <select  name="r1choice" method="GET">
        {% if sessions1|length == 0 %}
        <option value="" disabled selected>Resource 1 Sessions Booked Out</option>
        {% else %}
        <option value="" disabled selected>Resource 1 Sessions Available</option>
        {% endif %}

        {% for i in sessions1 %}
        <option>{{i}}</option>
        {% endfor %}
    </select>

    {% if sessions1|length == 0 %}
    <button class="btn btn-primary" type="submit" name="book1" disabled>Place Resource 1 Booking</button>
    {% else %}
    <button class="btn btn-primary" type="submit" name="book1">Place Resource 1 Booking</button>
    {% endif %}

</form>
<form class="form" action="" method="POST" >

    <label for="r2choice">Resource 2 Booking</label>
    <select  name="r2choice" method="GET">
        {% if sessions2|length == 0 %}
        <option value="" disabled selected>Resource 2 Sessions Booked Out</option>
        {% else %}
        <option value="" disabled selected>Resource 2 Sessions Available</option>
        {% endif %}

        {% for i in sessions2 %}
        <option>{{i}}</option>
        {% endfor %}
    </select>

    {% if sessions2|length == 0 %}
    <button class="btn btn-primary" type="submit" name="book2" disabled>Place Resource 2 Booking</button>
    {% else %}
    <button class="btn btn-primary" type="submit" name="book2">Place Resource 2 Booking</button>
    {% endif %}
    
</form>
{% endblock %}
