{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}

<h1 class="section-title">Booking</h1>
<div class="events-container"></div>
</section>
<section id="add-event">
<h1 class="section-title">New Booking for {{g.user.firstname}}</h1>
<form class="form" action="" method="POST" >

    <select id="status" name="facilityID">
        <option value="" disabled selected>Choose Your Facility</option>
        {% for i in facilities %}
        <option value="{{facilityNum[facilities.index(i)]}}">{{i}}</option>
        {% endfor %}
    </select>

    <select id="status" name="resourceID">
        <option value="" disabled selected>Choose Your Resource</option>
        {% for i in resources %}
        <option value="{{resourceID[resources.index(i)]}}">{{i}}</option>
        {% endfor %}
    </select>
    
    <input type="date" id="status" name="date">

    <button class="btn btn-primary" type="submit" name="search">Check Availability</button>
</form>
{% endblock %}
