{% extends "base.html" %}

{% block main %}
    <div class="login">
        <form action="" method="POST">
        
            <div class="imgcontainer">
                <img src="/SFMS/static/css/login.png" alt="login" class="avatar">
            </div>
            <p>
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" placeholder="Enter First Name" value="{{request.form.firstname}}" required>
            </p>
            <p>
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" placeholder="Enter Last Name" value="{{request.form.lastname}}" required>
            </p>
                        <p>
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username" value="{{request.form.username}}" required>
            </p>
            <p>
                <label for="usertype">User Type</label>
                <select name="usertype" required>
                    <option value="" disabled selected>Choose User Type</option>
                    <option value="admin">Admin</option>
                    <option value="member">Member</option>
                </select>
            </p>
            <p>
                <label for="useraddress">User Address</label>
                <input type="text" name="useraddress" placeholder="Enter Address" value="{{request.form.useraddress}}" required>
            </p>
            <p>
                <label for="useremail">Email Address</label>
                <input type="text" name="useremail" placeholder="Enter Email Address" value="{{request.form.useremail}}" required>
            </p>
            <p>
                <label for="telephone">Telephone Number</label>
                <input type="text" name="telephone" placeholder="Enter Phone Number" value="{{request.form.telephone}}" required>
            </p>
            <p>
                <input type="submit" name = "adduser" value="Create User"/>
            
            </p>
        </form>
    </div>
    <div class="login">
        <div>
            <form action="" method="POST">
                <p>
                    <label for="username">User to Remove</label>
                    <select name="username" required>
                        {% for i in firstname %}
                        <option value="{{username[firstname.index(i)]}}" SELECTED> {{i}} {{lastname[firstname.index(i)]}} || Username - {{username[firstname.index(i)]}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <input type="submit" name="deactivate" value = "Remove User">
                </p>
            </form>
        </div>
    </div>
    

{% endblock %}
