<div class="header"> 
  <div class="card">
    
  </div>
  
</div>
<div class="">


  <nav id="mySidenav" class="sidenav">
    <ul>
     
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
       
          <a href="/SFMS/">Home</a>
       
          <a href="/SFMS/profile">Profile</a> 
          
          <a href="/SFMS/booking">Create Booking</a>

          <a href="/SFMS/viewbooking">Booking Management</a>

          {%if g.user.userType == "admin" %}
            <a href="/SFMS/facilitymanagement">Facility Management</a>
            <a href="/SFMS/usermanagement">User Management</a>
            <a href="/SFMS/cardmanagement">Card Management</a>
            <a href="/SFMS/systemlogs">System Logs</a>        
          {% endif %}

          <a href="https://sportsfacilitymanagementsystem.weebly.com/">Product Page</a>

          {%if g.user %}
            <a href="/SFMS/logout">Logout</a>
          {% else %}
            <a href="/SFMS/login">Login</a>
          {% endif %}

    </ul>

    <ul class="navbar-nav">
    </ul>
     
  
  </nav>
  <span style="font-size:30px;cursor:pointer" 
  onclick="openNav()">&#9776;</span>
</div>
