{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}

<div class="login">
    <form action="" method="POST">
        
        <div class="imgcontainer">
            <img src="/SFMS/static/css/login.png" alt="login" class="avatar">
        </div>
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username" value="{{request.form.username}}">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" value="{{request.form.password}}">
        </p>
        <p>
            <input type="submit" value="Login"/>
        </p>
    </form>
</div>

{% endblock %}
