{% extends "base.html" %}

{% block main %}
<div class="container">
    <form action="" method="post">
        <div class="row">
            <div class="col-25">
                <label for="addcard">Add New Card:</label>
            </div>
            <div class="col-75">
                <input type="text" name="addcard" action="">
            </div>

        </div>
        <div class="row">
            <input type="submit" name= "addNew" value="Add New Card">
        </div>
    
    </form>
</div>

<div class="container">
    <form action="" method="post">
        <div class="row">
            <div class="col-25">
                <label for="username">System Users:</label>
            </div>
            <div class="col-75">
                <select name = "username" method="GET" action="">
                    <option value="" disabled selected> Pick a User</option>
                    {% for username in users %}
                    <option value = "{{username}}"> {{username}}</option>"
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-25">
                <label for="newcards">Currently Unassigned Cards:</label>
            </div>
            <div class="col-75">
                <select name = "newcards" method="GET" action="">
                    <option value="" disabled selected> Pick a New Card</option>
                    {% for cards in newcards %}
                    <option value = "{{cards}}"> {{cards}}</option>"
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="row">
            <input type="submit" name= "assignNew" value="Assign New Card">
        </div>

        <div class="row">
            <div class="col-25">
                <label for="usedcards">Currently Assigned Cards:</label>
            </div>
            <div class="col-75">
                <select name = "usedcards" method="GET" action="">
                    <option value="" disabled selected> Reassign a Used Card</option>
                    {% for cards in usedcards %}
                    <option value = "{{cards}}"> Card: {{cards}} || Assigned To: {{usernames[usedcards.index(cards)]}}</option>"
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row">
            <input type="submit" name="reassign" value="Reassign Card">
        </div> 

        <div class="row">
            <div class="col-25">
                <label for="deleteCard">Cards in System:</label>
            </div>
            <div class="col-75">
                <select name = "deleteCard" method="GET" action="">
                    <option value="" disabled selected> Delete a Card</option>
                    {% for cards in newcards %}
                    <option value = "{{cards}}"> {{cards}}</option>"
                    {% endfor %}
                    {% for cards in usedcards %}
                    <option value = "{{cards}}"> {{cards}}</option>"
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row">
            <input type="submit" name="delete" value="Remove Card">
        </div>     
</div>


{% endblock %}
