{% extends 'base.html'%}

{% block main%}
<div class = "bookings"> 
    <div>Booking</div>
</div>

<div class="container">
    <form action="" method = 'POST'> 
        <div class="row">
            <div class="col-25">
                <label for="dropdown">Choose a range:</label>
            </div>

            <div class="col-75">
                <select name="range" id="range">
                    <option value="today">Today</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                </select>
            </div>

        </div>
        <div class="row">
            <input type="submit" value ="Submit" name="viewBooking">
        </div>
    </form>
</div>
<form action="" method="POST">
    <table> 
        <thead>
            <tr>
                <th> Booking ID </th>
                <th> Booking Creation Date/Time </th>
                <th> Resource </th>
                <th> Facility </th>
                <th> Start Time </th>
                <th> End Time </th>
                <th> Use Date </th>
                <th> Status </th>
                {% if g.user.userType == 'admin' %}
                <th> Username </th>
                {% endif %}
                <th> Cancel Booking </th>
            </tr>
        </thead>

        {% for i in bookingids %}
        <tr>
            <td><input type="hidden" name= "bookingid" value="{{i}}"> {{i}} </td>
            <td> {{bookingdatetime[bookingids.index(i)]}} </td>
            <td> {{resourcenames[bookingids.index(i)]}} </td>
            <td><input type="hidden" name="facName" value="{{facilitynames[bookingids.index(i)]}}">{{facilitynames[bookingids.index(i)]}} </td>
            <td> {{starttimes[bookingids.index(i)]}} </td>
            <td> {{endtimes[bookingids.index(i)]}} </td>
            <td> {{usedate[bookingids.index(i)]}} </td>
            <td> {{status[bookingids.index(i)]}} </td>
            {% if g.user.userType == 'admin' %}
            <td> {{usernames[bookingids.index(i)]}} </td>
            {% endif %}
            <input type="hidden" name="recNum" value="{{resourceNums[bookingids.index(i)]}}">
            <td><input type="submit" value="Cancel Booking" name="cancel"></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}

