{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
    <div class="container">
        <form action="" method="POST">
        
            <div class="imgcontainer">
                <img src="/SFMS/static/css/login.png" alt="login" class="avatar">
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="firstname">First Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="firstname" placeholder="Enter First Name" value="{{request.form.firstname}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="lastname" placeholder="Enter Last Name" value="{{request.form.lastname}}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="username">Username</label>
                </div>
                <div class="col-75">
                    <input type="text" name="username" placeholder="Enter Username" value="{{request.form.username}}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="usertype">User Type</label>
                </div>
                <div class="col-75">
                    <select name="usertype" required>
                        <option value="" disabled selected>Choose User Type</option>
                        <option value="admin">Admin</option>
                        <option value="member">Member</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="useraddress">User Address</label>
                </div>
                <div class="col-75">
                    <input type="text" name="useraddress" placeholder="Enter Address" value="{{request.form.useraddress}}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="useremail">Email Address</label>
                </div>
                <div class="col-75">
                    <input type="email" name="useremail" placeholder="Enter Email Address" value="{{request.form.useremail}}" required>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="telephone">Telephone Number</label>
                </div>
                <div class="col-75">
                    <input type="text" name="telephone" placeholder="Enter Phone Number" value="{{request.form.telephone}}" required>
                </div>
            </div>

      
            <div class="row">
                <input type="submit" name = "adduser" value="Create User"/>
            </div>

        </form>

    </div>
    <div>
        <h2>Active Users</h2>
    </div>
     
        <table> 
            <thead>
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Username </th> 
                </tr>
            </thead>
            {% for names in username %}
    
            <tr>
    
                <td> {{firstname[username.index(names)]}} </td>
                <td> {{lastname[username.index(names)]}} </td>
                <td> {{names}} </td>
           
            </tr>
            {% endfor %}
        </table>
    <div>
    <div>
        <h2>Inactive Users</h2>
    </div>
     
        <table> 
            <thead>
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Username </th> 
                </tr>
            </thead>
            {% for names in username2 %}
    
            <tr>
    
                <td> {{firstname2[username2.index(names)]}} </td>
                <td> {{lastname2[username2.index(names)]}} </td>
                <td> {{names}} </td>
           
            </tr>
            {% endfor %}
        </table>
    <div>

    <div class="container">
        <form action="" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="username">User to Remove</label>
                </div>
                <div class="col-75">
                    <select name="username" required>
                        <option value="" disabled selected> Select A User to Deactivate or Remove</option>
                        {% for i in firstname %}
                        <option value="{{username[firstname.index(i)]}}"> {{i}} {{lastname[firstname.index(i)]}} || Username - {{username[firstname.index(i)]}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="row">
                <input type="submit" name="deactivate" value = "Deactivate User">
            </div>
            <div class="row">
                <input type="submit" name="remove" value = "Remove User From System">
            </div>
            
        </form>
    </div>
    <div class="container">
        <form action="" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="username">User to Reactivate</label>
                </div>
                <div class="col-75">
                    <select name="username" required>
                        <option value="" disabled selected> Select A User to Reactivate </option>
                        {% for i in firstname2 %}
                        <option value="{{username2[firstname2.index(i)]}}"> {{i}} {{lastname2[firstname2.index(i)]}} || Username - {{username2[firstname2.index(i)]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="submit" name="activate" value = "Reactivate User">
            </div>
        </form>
    </div>


    

{% endblock %}