{% extends 'base.html'%}

{% block main%}
<div class = "logs"> 
    <div> System Log Report </div>
</div>

<form action="" method = 'POST'> 

<div class = "dropdown"> 
    <label for="down">Choose a range:</label>

    <select name="range" id="range">
        <option value="today">Today</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
    </select>
<input type="submit" value ="submit">
</div>
</form>


<div class = "">   
    <table> 
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Facility </th>
                <th> Attempted Access Date/Time </th>
         
            </tr>
        </thead>
        {% for i in firstName %}

        <tr>

            <td> {{i}} </td>
            <td> {{lastName[firstName.index(i)]}} </td>
            <td> {{facilityName[firstName.index(i)]}} </td>
            <td> {{readingTime[firstName.index(i)]}} </td>
       
        </tr>
        {% endfor %}
    </table>
</div>




{% endblock %}
   
