{% extends 'base.html'%}

{% block main%}
<div class = "today"> 
    <div> System Log Report </div>
</div>

<div class="container">
    <form method = "POST">
        <div>
            <div class="col-25">
                <label for="date1">Logs Start Date</label>
            </div>
            <div class="col-25">
                <input type="date" name=date1 min="{{lastMonth}}" max="{{today}}" required>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Search"/>
        </div>

    </form>
</div>


 
    <table> 
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Facility </th>
                <th> Attempted Access Date/Time </th>
         
            </tr>
        </thead>
        {% for i in readingTime %}

        <tr>

            <td> {{firstName[readingTime.index(i)]}} </td>
            <td> {{lastName[readingTime.index(i)]}} </td>
            <td> {{facilityName[readingTime.index(i)]}} </td>
            <td> {{readingTime[readingTime.index(i)]}} </td>
       
        </tr>
        {% endfor %}
    </table>


{% endblock %}